<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>牡蠣收集頁面</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<h3 class="text-center">當前畫面</h3>
  	<div class="container">
  		<div class="row">
  			<div class="col">
  				camera1
  				<img src="./1.jpg">
    		</div>
 			<div class="col">
 				camera2
  				<img src="./1.jpg">
   	 		</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="form-group">
    				<label for="InputWeight1">牡蠣重量</label>
    				<textarea class="form-control" id="weight-input" rows="1" placeholder="輸入牡蠣重量"></textarea>
  				</div>
  			</div>
  		</div>	
	<div class="row">
		<div class="col text-center">
			<form action="" method="POST" >
			<a href="/contact">
			<input type="button" name="submit_button" class="btn btn-outline-primary" value="get_frame">牡蠣資料輸入</button>
			</a>
			</form>
		</div>
		<div class="col text-center">
			<button type="button" name="submit_button" class="btn btn-outline-primary" value="upload_server">上傳至伺服器</button>
		</div>
	</div>
	</div>
</body>
</html>